* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(img/calculadora.svg) no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 10px;
  margin: 0 auto;
  max-width: 400px;
  border: solid 3px grey;
  border-radius: 10px;
  background-color: #afeeee;
}

.row h1 {
  font-size: 30px;
  font-weight: bold;
}

.row input,
select {
  border: solid 1px #000;
  padding: 3px;
  border-radius: 5px;
}

.row button {
  max-width: 100px;
  margin: 0 auto;
  padding: 5px;
  color: white;
  border: solid 1px grey;
  border-radius: 5px;
  background-color: #008cba;
}

.row label,
span {
  font-size: 18px;
}
